.jumbotron {
  padding: 8rem;
  background-color: #ffffff;
}

.active {
  font-weight: 700;
  color: #212529 !important;
}

.btn-login {
  background-color: #212529;
  color: #fff;
}

.navbar-brand {
  font-family: Verdana;
  color: aqua;
  font-weight: 900;
}

#project {
  background-color: #e2edff;
}

#contact {
  min-height: 250px;
}

.header1 {
  padding: 2rem;
  min-height: 5400px;
  background-image: url("../img/14.jpg");
  background-size: cover;
}

.header2 {
  padding: 2rem;
  min-height: 9800px;
  background-image: url("../img/18.jpg");
  background-size: cover;
}

.header3 {
  padding: 2rem;
  min-height: 6000px;
  background-image: url("../img/17.jpg");
  background-size: cover;
}
